﻿@{
    ViewBag.Title = "AnaYemekler";
    Layout = "~/views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Modern Business - Start Bootstrap Template</title>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/modern-business.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
   
                   
                              
    <div class="container">
        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">

                   Ana Yemek Tarifleri
                   
                </h1>
             
            </div>
        </div>
       
      
        <div class="row">
            <div class="col-md-7">
                <a href="portfolio-item.html">
                </a>
                <img src="~/images/pide.jpeg.jpg" width="600" height="300" />
                      </div>
            <div class="col-md-5">

                <h3>Paça Pidesi Tarifi</h3>
                
                <p>
                Paça Pidesi Tarifi İçin Malzemeler
                 1 adet lavaş pidesi, Yarım küçük tavuk (yaklaşık 600-700 gr),...</p>
              
                <a class="btn btn-primary" href="~/Views/Home/yemektarifi.cshtml">Devamı için Tıklayınız</a>
            </div>
        </div>
    
        <hr>
        
        <div class="row">
            <div class="col-md-7">
                <a href="portfolio-item.html">
                    </a>
                    <img src="~/images/karides.jpg" width="600" height="300"/>
            </div>
            <div class="col-md-5">
                <h3> Karides Güveç Tarifi </h3>
                <p> Karides Güveç Tarifi İçin Malzemeler 
                125 gr temizlenmiş küçük boy karides ( 300 gr temizlenmemiş..</p>
                <a class="btn btn-primary" href="~/Views/Home/yemektarifi.cshtml">Devamı için Tıklayınız</a>

            </div>
        </div>
        <!-- /.row -->
        <hr>
        <!-- Project Three -->
        <div class="row">
            <div class="col-md-7">
                <a href="portfolio-item.html">
                    <img src="~/images/enginar.jpg" width="600" height="300"/>
                </a>
            </div>
            <div class="col-md-5">
                <h3> Etli Enginar Tarifi </h3>
              
                <p>
                Etli Enginar Tarifi İçin Malzemeler
                 4 adet enginar, 250 gr kuzu kuşbaşı ya da dana...</p>
                <a class="btn btn-primary" href="~/Views/Home/yemektarifi.cshtml">Devamı için Tıklayınız</a>
            </div>
        </div>
        <!-- /.row -->
        <hr>
        <!-- Project Four -->
        <div class="row">
            <div class="col-md-7">
                <a href="portfolio-item.html">
                    <img src="~/images/buğday.jpg" width="600" height="300"/>
                </a>
            </div>
            <div class="col-md-5">
                <h3>Etli Mercimekli Buğday Yemeği Tarifi</h3>
                <p> Etli Mercimekli Buğday Yemeği Tarifi İçin Malzemeler 1 su bardağı aşurelik buğday, 1 su bardağı...</p>
                <a class="btn btn-primary" href="~/Views/Home/yemektarifi.cshtml">Devamı için Tıklayınız</a>
            </div>
        </div>
        <!-- /.row -->
        <hr>
        <!-- Project Five -->
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img src="~/images/dolma.jpg" width="600" height="300"/>

                </a>
            </div>
            <div class="col-md-5">
                <h3>Kıymalı Patates Dolması Tarifi </h3>
                <p> Kıymalı Patates Dolması Tarifi İçin Malzemeler 8 adet küçük boy patates, Kızartmak için sıvı yağı....</p>
                <a class="btn btn-primary" href="~/Views/Home/yemektarifi.cshtml">Devamı için Tıklayınız</a>
            </div>
        </div>
        <!-- /.row -->
        <hr>
        <!-- Pagination -->

        <!-- /.row -->
        <hr>
        <!-- Footer -->
    
    </div>
    <!-- /.container -->
    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
</body>
</html>

