﻿
@{
    ViewBag.Title = "ettavukyemekleri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Modern Business - Start Bootstrap Template</title>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/modern-business.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>



    <div class="container">
        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">

                    Et ve Tavuk Yemekleri Tarifi

                </h1>

            </div>
        </div>


        <div class="row">
            <div class="col-md-7">
                <a href="portfolio-item.html">
                </a>
                <img src="~/images/sandal.jpg" width="600" height="300" />
            </div>
            <div class="col-md-5">

                <a href < >Tavuklu Sandal Sefası Tarifi</> </a>

                <p>
                    Tavuklu Sandal Sefası Tarifi İçin Malzemeler 3 adet kabak. Kabakları Haşlamak İçin: Kabakların üzerine çıkacak...
                </p>
                <a class="btn btn-primary" href="portfolio-item.html">Devamı için Tıklayınız</i></a>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-7">
                <a href="portfolio-item.html">
                </a>
                <img src="~/images/sote.jpg" width="600" height="300" />
            </div>
            <div class="col-md-5">
                <h3>Tavuk Sote Tarifi </h3>
                <p>
                    Tavuk Sote Tarifi İçin Malzemeler 2 adet tavuk fileto, 1 adet domates, 1 adet kırmızı...
                                </p>
                <a class="btn btn-primary" href="portfolio-item.html">Devamı için Tıklayınız </i></a>
            </div>
        </div>
        <!-- /.row -->
        <hr>
        <!-- Project Three -->
        <div class="row">
            <div class="col-md-7">
                <a href="portfolio-item.html">
                    <img src="~/images/kanat.jpg" width="600" height="300" />
                </a>
            </div>
            <div class="col-md-5">
                <h3>Fırında Pratik Tavuk Kanat Tarifi </h3>

                <p>
                    Fırında Pratik Tavuk Kanat Tarifi İçin Malzemeler 24 parça tavuk kanat (ikiye kesilmiş), 1/4 su...

                </p>
                <a class="btn btn-primary" href="portfolio-item.html">Devamı için Tıklayınız</i></a>
            </div>
        </div>
        <!-- /.row -->
        <hr>
        <!-- Project Four -->
        <div class="row">
            <div class="col-md-7">
                <a href="portfolio-item.html">
                    <img src="~/images/kalamar.jpg" width="600" height="300" />
                </a>
            </div>
            <div class="col-md-5">
                <h3>Tavuk Kalamar Tarifi</h3>
                <p>
                    Tavuk Kalamar Tarifi İçin Malzemeler Kişi sayısına göre tavuk göğsü, 2 yemek kaşığı tereyağı, 1...                </p>
                <a class="btn btn-primary" href="portfolio-item.html">Devamı için Tıklayınız</i></a>
            </div>
        </div>
        <!-- /.row -->
        <hr>
        <!-- Project Five -->
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img src="~/images/kofte.jpg" width="600" height="300" />

                </a>
            </div>
            <div class="col-md-5">
                <h3>Pirinçli Köfte Tarifi </h3>
                <p>  Pirinçli Köfte Tarifi İçin Malzemeler 750 gr kıyma, 1 adet yumurta, Yarım çay bardağı haşlanmış... </p>
                <a class="btn btn-primary" href="#">Devamı için Tıklayınız</i></a>
            </div>
        </div>
        <!-- /.row -->
        <hr>
        <!-- Pagination -->
        <!-- /.row -->
        <hr>
        <!-- Footer -->

    </div>
    <!-- /.container -->
    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
</body>
</html>





































































































































































































































































































































































































































































































































































