﻿
@{
    ViewBag.Title = "giris";
}



<center>
    <form action="/Home/giris" method="post">
        
        <input name="mail" type="text" style="border-radius:20px;" placeholder="E-mail">
        <input name="sifre" type="password" style="border-radius:20px;" placeholder="Sifre">
       
        <input type="submit" placeholder="giris">
    </form>
</center>