﻿@model yemektarifi.Controllers.HomeController.yimek
@{
    ViewBag.Title = "Home Page";
}

<body>


    <!-- Page Content -->
    <div class="container">
        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">

                        HARİKA LEZZETLER

                </h1>
            </div>
        </div>
        <!-- /.row -->
        <!-- Projects Row -->
      
            
            @foreach (var item in Model.mama)
            {
               
                <div class="col-md-4 portfolio-item">
                    <a href="/Home/yemektarifi/?id=@item.id">
                        <img src="@item.url" width="350" height="300" />
                    </a>
                    <h3>
                        <a href="/Home/yemektarifi/?id=@item.id">@item.adi</a>
                    </h3>
                    <p>Tarif için  <a href="/Home/yemektarifi/?id=@item.id">tıklayınız...</a></p>
                </div>
            }       

                  

                    <div class="col-md-4 portfolio-item">
                        <a href="#">
                            <img src="~/images/nohut.jpeg.jpeg" width="350" height="300" />
                        </a>
                        <h3>
                            <a href="#">Sucuklu Nohut Yemeği</a>
                        </h3>
                        <p>Tarif için  <a href="#">tıklayınız...</a></p>

                        @*@HtmlBeginForm("devami icin tiklayin", "anayemekler","home")*@


                    </div>
                    <div class="col-md-4 portfolio-item">
                        <a href="#">
                            <img src="~/images/keşkek.jpeg.jpeg" width="350" height="300" />
                        </a>
                        <h3>
                            <a href="#"> Tavuklu Keşkek Tarifi</a>
                        </h3>
                        <p>Tarif için  <a href="#">tıklayınız...</a></p>
                    </div>
                    <div class="col-md-4 portfolio-item">
                        <a href="#">
                            <img src="~/images/pasta.jpeg.jpeg" width="350" height="300" />
                        </a>
                        <h3>
                            <a href="#">Kolay Çikolatalı Pasta Tarifi</a>
                        </h3>
                        <p>Tarif için  <a href="#">tıklayınız...</a></p>
                    </div>
                
        <!-- /.row -->
        <!-- Projects Row -->
        
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img src="~/images/poğaça.jpeg.jpeg" width="350" height="300" />
                </a>
                <h3>
                    <a href="#">Pofuduk Kolay Peynirli Poğaça Tarifi</a>
                </h3>
                <p>Tarif için  <a href="#">tıklayınız...</a></p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img src="~/images/patlıcan.jpeg.jpeg" width="350" height="300" />
                </a>
                <h3>
                    <a href="#">Patlıcan Burger Tarifi</a>
                </h3>
                <p>Tarif için  <a href="#">tıklayınız...</a></p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img src="~/images/alinazik.jpeg.jpeg" width="350" height="300" />
                </a>
                <h3>
                    <a href="#">Ali Nazik Tarifi</a>
                </h3>
                <p>Tarif için  <a href="#">tıklayınız...</a></p>
            </div>
       
        <!-- Projects Row -->
        
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img src="~/images/lazanya.jpeg.jpeg" width="350" height="300" />
                </a>
                <h3>
                    <a href="#">Tavuklu Patates Lazanya Tarifi</a>
                </h3>
                <p>Tarif için  <a href="#">tıklayınız...</a></p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img src="~/images/mantar.jpeg.jpeg" width="350" height="300" />
                </a>
                <h3>
                    <a href="#">Mantarlı Tavuk Sarma Tarifi </a>
                </h3>
                <p>Tarif için  <a href="#">tıklayınız...</a></p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img src="~/images/et.jpeg.jpeg" width="350" height="300" />
                </a>
                <h3>
                    <a href="#">Güveçte Etli Sebze Yemeği Tarifi</a>
                </h3>
                <p>Tarif için  <a href="#">tıklayınız...</a></p>
            </div>
        
        <!-- /.row -->
        <hr>
      
        <!-- /.row -->
        <hr>
        <!-- Footer -->

    </div>
    <!-- /.container -->
    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
</body>



