﻿
@{
    ViewBag.Title = "kaydol";
}

<center>
<form action="/Home/kaydol" method="post">
    <input name="adi" type="text" style="border-radius:20px;" placeholder="İsminiz">
    <input name="mail" type="text" style="border-radius:20px;" placeholder="E-mail">
    <input name="sifre" type="password" style="border-radius:20px;" placeholder="Sifre">
    <input name="tel" type="text" style="border-radius:20px;" placeholder="Telefon No">
    <input type="submit" placeholder="Kaydol">
    </form>
    </center>