﻿
@{
    ViewBag.Title = "PilavTarifleri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Modern Business - Start Bootstrap Template</title>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/modern-business.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>



    <div class="container">
        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">

                             Pilav Tarifleri
                </h1>

            </div>
        </div>


        <div class="row">
            <div class="col-md-7">
                <a href="portfolio-item.html">
                </a>
                <img src="~/images/şehriye.jpg" width="600" height="300" />
            </div>
            <div class="col-md-5">

                <h3>Tel Şehriyeli Pilav Tarifi </h3>

                <p>
                    Tel Şehriyeli Pirinç Pilavı Tarifi İçin Malzemeler 2 su bardağı pilavlık pirinç. Islamak İçin: Pirinçlerin...                </p>
                <a class="btn btn-primary" href="portfolio-item.html">Devamı için Tıklayınız</i></a>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-7">
                <a href="portfolio-item.html">
                </a>
                <img src="~/images/bulgur.jpg" width="600" height="300" />
            </div>
            <div class="col-md-5">
                <h3>Bulgur Pilavı Tarifi </h3>
                <p>
                    Bulgur Pilavı Tarifi İçin Malzemeler 2 su bardağı pilavlık bulgur, 2 adet orta boy küp...                </p>
                <a class="btn btn-primary" href="portfolio-item.html">Devamı için Tıklayınız </i></a>
            </div>
        </div>
        <!-- /.row -->
        <hr>
        <!-- Project Three -->
        <div class="row">
            <div class="col-md-7">
                <a href="portfolio-item.html">
                    <img src="~/images/içpilav.jpg" width="600" height="300" />
                </a>
            </div>
            <div class="col-md-5">
                <h3>İç Pilav Tarifi </h3>

                <p>
                    İç Pilav Tarifi İçin Malzemeler 2 su bardağı pirinç, 2,5 su bardağı tavuk suyu, 5-6...
                </p>
                <a class="btn btn-primary" href="portfolio-item.html">Devamı için Tıklayınız</i></a>
            </div>
        </div>
        <!-- /.row -->
        <hr>
        <!-- Project Four -->
        <div class="row">
            <div class="col-md-7">
                <a href="portfolio-item.html">
                    <img src="~/images/karabuğday.jpg" width="600" height="300" />
                </a>
            </div>
            <div class="col-md-5">
                <h3>(Greçka)Karabuğday Tarifi</h3>
                <p>
                    Greçka (Karabuğday) Tarifi İçin Malzemeler 1 su bardağı greçka, 1 su bardağı pilavlık bulgur, Yarım...                </p>
                <a class="btn btn-primary" href="portfolio-item.html">Devamı için Tıklayınız</i></a>
            </div>
        </div>
        <!-- /.row -->
        <hr>
        <!-- Project Five -->
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img src="~/images/arpa.jpg" width="600" height="300" />

                </a>
            </div>
            <div class="col-md-5">
                <h3>Etli Arpa Şehriye Pilavı Tarifi </h3>
                <p>  Etli Arpa Şehriye Pilavı Tarifi İçin Malzemeler 2 su bardağı arpa şehriye, 4 su bardağı.. </p>
                <a class="btn btn-primary" href="#">Devamı için Tıklayınız</i></a>
            </div>
        </div>
        <!-- /.row -->
        <hr>
        <!-- Pagination -->
        <!-- /.row -->
        <hr>
        <!-- Footer -->

    </div>
    <!-- /.container -->
    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
</body>
</html>





































































































































































































































































































































































































































































































































































