﻿
@{
    ViewBag.Title = "SebzeYemekleri";
    Layout = "~/views/Shared/_Layout.cshtml";
}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Modern Business - Start Bootstrap Template</title>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/modern-business.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>



    <div class="container">
        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">

               Sebze Yemekleri Tarifi

                </h1>

            </div>
        </div>


        <div class="row">
            <div class="col-md-7">
                <a href="portfolio-item.html">
                </a>
                <img src="~/images/mucver.jpg" width="600" height="300" />
            </div>
            <div class="col-md-5">

                <h3>Patlıcanlı Kabak Mücveri Tarifi</h3>

                <p>
                    Patatesli Kabak Mücveri Tarifi İçin Malzemeler 2 adet orta boy kabak, 2 adet orta boy...
                </p>
                <a class="btn btn-primary" href="portfolio-item.html">Devamı için Tıklayınız</i></a>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-7">
                <a href="portfolio-item.html">
                </a>
                <img src="~/images/patlıcann.jpg" width="600" height="300" />
            </div>
            <div class="col-md-5">
                <h3>Domates Soslu Patlıcan Yemeği Tarifi </h3>
                <p>
                    Domates Soslu Patlıcan Yemeği Tarifi İçin Malzemeler 1 kg patlıcan, 1 orta boy soğan, 4...
               </p>
                <a class="btn btn-primary" href="portfolio-item.html">Devamı için Tıklayınız </i></a>
            </div>
        </div>
        <!-- /.row -->
        <hr>
        <!-- Project Three -->
        <div class="row">
            <div class="col-md-7">
                <a href="portfolio-item.html">
                    <img src="~/images/turlu.jpg" width="600" height="300" />
                </a>
            </div>
            <div class="col-md-5">
                <h3> Pratik Türlü Tarifi </h3>

                <p>
                    Pratik Türlü Yemeği Tarifi İçin Malzemeler 500 gr ( yarım kg) kuşbaşı doğranmış et, 1...
                </p>
                <a class="btn btn-primary" href="portfolio-item.html">Devamı için Tıklayınız</i></a>
            </div>
        </div>
        <!-- /.row -->
        <hr>
        <!-- Project Four -->
        <div class="row">
            <div class="col-md-7">
                <a href="portfolio-item.html">
                    <img src="~/images/kereviz.jpg" width="600" height="300" />
                </a>
            </div>
            <div class="col-md-5">
                <h3>Pratik Nohutlu Kereviz Tarifi</h3>
                <p>
                    Pratik Nohutlu Kereviz Tarifi İçin Malzemeler 2 kök kereviz, Yarım limon, 1 çay bardağı haşlanmış...           
                     </p>
                <a class="btn btn-primary" href="portfolio-item.html">Devamı için Tıklayınız</i></a>
            </div>
        </div>
        <!-- /.row -->
        <hr>
        <!-- Project Five -->
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img src="~/images/pırasa.jpg" width="600" height="300" />

                </a>
            </div>
            <div class="col-md-5">
                <h3>Kıymalı Pırasa Tarifi </h3>
                <p>  Kıymalı Pırasa Yemeği Tarifi İçin Malzemeler 6 sap pırasa (beyaz kısımları), 1 adet orta boy... </p>
                <a class="btn btn-primary" href="#">Devamı için Tıklayınız</i></a>
            </div>
        </div>
        <!-- /.row -->
        <hr>
        <!-- Pagination -->
        <!-- /.row -->
        <hr>
        <!-- Footer -->

    </div>
    <!-- /.container -->
    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
</body>
</html>




