﻿
@{
    ViewBag.Title = "SerbetliTatlilar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Modern Business - Start Bootstrap Template</title>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/modern-business.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>



    <div class="container">
        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Şerbetli Tatlı Tarifleri

                </h1>

            </div>
        </div>


        <div class="row">
            <div class="col-md-7">
                <a href="portfolio-item.html">
                </a>
                <img src="~/images/kabak.jpg" width="600" height="300" />
            </div>
            <div class="col-md-5">

                <h3>Kabak Tatlısı Tarifi</h3>

                <p>
                    Kabak Tatlısı Tarifi için Malzemeler 1 kilo temizlenmiş tatlı kestane kabağı, 1,5 su bardağı toz...
                </p>
                <a class="btn btn-primary" href="portfolio-item.html">Devamı için Tıklayınız</i></a>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-7">
                <a href="portfolio-item.html">
                </a>
                <img src="~/images/kunefe.jpg" width="600" height="300" />
            </div>
            <div class="col-md-5">
                <h3> Evde Künefe Tarifi </h3>
                <p>
                    Künefe Tarifi İçin Malzemeler 150 gr tel kadayıf, 100 gr tereyağı, 100 gr sünen dil...
                </p>
                <a class="btn btn-primary" href="portfolio-item.html">Devamı için Tıklayınız </i></a>
            </div>
        </div>
        <!-- /.row -->
        <hr>
        <!-- Project Three -->
        <div class="row">
            <div class="col-md-7">
                <a href="portfolio-item.html">
                    <img src="~/images/kadayıf.jpg.jpg" width="600" height="300" />
                </a>
            </div>
            <div class="col-md-5">
                <h3>Külahta Kadayıf Tatlısı Tarifi </h3>

                <p>
                    Külahta Kadayıf Tatlısı Tarifi İçin Malzemeler 500 gr taze tel kadayıf, 3 adet yumurta, 1...
                </p>
                <a class="btn btn-primary" href="portfolio-item.html">Devamı için Tıklayınız</i></a>
            </div>
        </div>
        <!-- /.row -->
        <hr>
        <!-- Project Four -->
        <div class="row">
            <div class="col-md-7">
                <a href="portfolio-item.html">
                    <img src="~/images/elmalı.jpg" width="600" height="300" />
                </a>
            </div>
            <div class="col-md-5">
                <h3>Elmalı Toppare Tarifi</h3>
                <p>
                    Elmalı Toppare Tarifi İçin Malzemeler 250 gr oda sıcaklığında margarin (1 paket), 2 adet yumurta,...
                </p>
                <a class="btn btn-primary" href="portfolio-item.html">Devamı için Tıklayınız</i></a>
            </div>
        </div>
        <!-- /.row -->
        <hr>
        <!-- Project Five -->
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img src="~/images/şambalı.jpg" width="600" height="300" />

                </a>
            </div>
            <div class="col-md-5">
                <h3>Şam (Şambalı) Tatlısı </h3>
                <p> Şam (Şambalı) Tatlısı Tarifi İçin Malzemeler 500 gr irmik, 1 su bardağı toz şeker, 2...</p>
                <a class="btn btn-primary" href="#">Devamı için Tıklayınız</i></a>
            </div>
        </div>
        <!-- /.row -->
        <hr>
        <!-- Pagination -->
        <!-- /.row -->
        <hr>
        <!-- Footer -->

    </div>
    <!-- /.container -->
    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
</body>
</html>



