﻿
@{
    ViewBag.Title = "SutluTatlilar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Modern Business - Start Bootstrap Template</title>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/modern-business.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>



    <div class="container">
        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                  Sütlü Tatlı Tarifleri

                </h1>

            </div>
        </div>


        <div class="row">
            <div class="col-md-7">
                <a href="portfolio-item.html">
                </a>
                <img src="~/images/kedidili.jpg.jpg" width="600" height="300" />
            </div>
            <div class="col-md-5">

                <h3>Kedidili Tatlısı Tarifi</h3>

                <p>
                    Kedidili Tatlısı Tarifi İçin Malzemeler
                     1 büyük paket kedidili bisküvi. 
                    Kreması İçin: 100 gr margarin...
                </p>
                <a class="btn btn-primary" href="portfolio-item.html">Devamı için Tıklayınız</i></a>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-7">
                <a href="portfolio-item.html">
                </a>
                <img src="~/images/helva.jpg.jpg" width="600" height="300" />
            </div>
            <div class="col-md-5">
                <h3> Un Helvası Tarifi </h3>
                <p>
                    Un Helvası Tarifi İçin Malzemeler 2 su bardağı un, 1 türk kahve fincanı sıvı yağı,...
                </p>
                <a class="btn btn-primary" href="portfolio-item.html">Devamı için Tıklayınız </i></a>
            </div>
        </div>
        <!-- /.row -->
        <hr>
        <!-- Project Three -->
        <div class="row">
            <div class="col-md-7">
                <a href="portfolio-item.html">
                    <img src="~/images/kadayıf.jpg.jpg" width="600" height="300" />
                </a>
            </div>
            <div class="col-md-5">
                <h3>Sütlü Kadayıf Tatlısı Tarifi </h3>

                <p>
                    Sütlü Kadayıf Tatlısı Tarifi İçin Malzemeler
                     300 gr kadayıf, 1 su bardağı ceviz içi, 3...
                </p>
                <a class="btn btn-primary" href="portfolio-item.html">Devamı için Tıklayınız</i></a>
            </div>
        </div>
        <!-- /.row -->
        <hr>
        <!-- Project Four -->
        <div class="row">
            <div class="col-md-7">
                <a href="portfolio-item.html">
                    <img src="~/images/tramisu.jpg.jpg" width="600" height="300" />
                </a>
            </div>
            <div class="col-md-5">
                <h3>Kolay Tramisu Tarifi</h3>
                <p>
                Kolay Tiramisu Tarifi İçin Malzemeler 1 paket kedidili bisküvi. Muhallebisi İçin: 1 litre süt (5...</p>
                <a class="btn btn-primary" href="portfolio-item.html">Devamı için Tıklayınız</i></a>
            </div>
        </div>
        <!-- /.row -->
        <hr>
        <!-- Project Five -->
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img src="~/images/kup.jpg.jpg" width="600" height="300" />

                </a>
            </div>
            <div class="col-md-5">
                <h3>Vanilyalı Bisküvili Kup Tarifi </h3>
                <p> Vanilyalı Bisküvili Kup Tarifi İçin Malzemeler Yarım paket burçak veya 1 paket kremalı bisküvi, 1...</p>
                <a class="btn btn-primary" href="#">Devamı için Tıklayınız</i></a>
            </div>
        </div>
        <!-- /.row -->
        <hr>
        <!-- Pagination -->
        <!-- /.row -->
        <hr>
        <!-- Footer -->

    </div>
    <!-- /.container -->
    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
</body>
</html>



