﻿
@{
    ViewBag.Title = "tarifgonder";
    Layout = "~/views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Lezzetli Tatlar</title>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/modern-business.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
  
    @if(Session["email"]==null)
    {
        <h1>
           Lütfen Önce Giriş Yapın       
       </h1>
    }
    else
    {
        <form action="/Home/tarifgonder" method="post" enctype="multipart/form-data">
            <input type="text"name="adi"  placeholder="Tarifin adi">
            <textarea rows="10" name="icerik" cols="100" class="form-control" id="Tarif" required data-validation-required-message="Tarifinizi Yazın" maxlength="999" style="resize:none"></textarea>
            <input type="file" name="uploadfile">
              <input type="submit"/>
            </form>
    }


      
        <!-- /.row -->
        <hr>
       
       
    <!-- /.container -->
    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Contact Form JavaScript -->
    <!-- Do not edit these files! In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>
</body>
</html>
