﻿@model yemektarifi.Controllers.HomeController.yimek
@{
    ViewBag.Title = "yemektarifi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<center>
@foreach (var item in Model.mama)
{
    if (@item.id == Int32.Parse(Session["aciklama"].ToString()))
    {
        <img style="width:350px; margin-top:100px;" src="@item.url" />
        <div>
            <h1>@item.adi</h1>
            <p>
                @item.icerik
                </p>
            </div>
    }

}
 </center>
