﻿
@{
    ViewBag.Title = "Zeytinyaglilar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Modern Business - Start Bootstrap Template</title>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/modern-business.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>



    <div class="container">
        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Zeytinyağlılar

                </h1>

            </div>
        </div>


        <div class="row">
            <div class="col-md-7">
                <a href="portfolio-item.html">
                </a>
                <img src="~/images/bamya.jpg" width="600" height="300" />
            </div>
            <div class="col-md-5">

                <h3>Zeytinyağlı Bamya Tarifi</h3>

                <p>
                    Zeytinyağlı Bamya Tarifi için Malzemeler 300 gr taze bamya, Yarım türk kahve fincanı zeytinyağı, 2...
                </p>
                <a class="btn btn-primary" href="portfolio-item.html">Devamı için Tıklayınız</i></a>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-7">
                <a href="portfolio-item.html">
                </a>
                <img src="~/images/sarma.jpg" width="600" height="300" />
            </div>
            <div class="col-md-5">
                <h3> Zeytinyağlı Yaprak Sarması Tarifi </h3>
                <p>
                    Zeytinyağlı Yaprak Sarma Tarifi İçin Malzemeler 400 gr taze asma yaprağı. İçi İçin: 2 su...                </p>
                <a class="btn btn-primary" href="portfolio-item.html">Devamı için Tıklayınız </i></a>
            </div>
        </div>
        <!-- /.row -->
        <hr>
        <!-- Project Three -->
        <div class="row">
            <div class="col-md-7">
                <a href="portfolio-item.html">
                    <img src="~/images/biber.jpg" width="600" height="300" />
                </a>
            </div>
            <div class="col-md-5">
                <h3>Zeytinyağlı Biber Dolması Tarifi </h3>

                <p>
                    Biber Dolması Tarifi İçin Malzemeler 1 kg dolmalık biber. İçi İçin: 200 gr kıyma (ben...                </p>
                <a class="btn btn-primary" href="portfolio-item.html">Devamı için Tıklayınız</i></a>
            </div>
        </div>
        <!-- /.row -->
        <hr>
        <!-- Project Four -->
        <div class="row">
            <div class="col-md-7">
                <a href="portfolio-item.html">
                    <img src="~/images/rulo.jpg" width="600" height="300" />
                </a>
            </div>
            <div class="col-md-5">
                <h3>Zeytinyağlı Patlıcan Rulo Tarifi</h3>
                <p>
                    Zeytinyağlı Patlıcan Rulo Tarifi İçin Malzemeler 2 adet patlıcan. İçi İçin: 3 adet soğan, 3...
                </p>
                <a class="btn btn-primary" href="portfolio-item.html">Devamı için Tıklayınız</i></a>
            </div>
        </div>
        <!-- /.row -->
        <hr>
        <!-- Project Five -->
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img src="~/images/fasulye.jpg" width="600" height="300" />

                </a>
            </div>
            <div class="col-md-5">
                <h3>Tam Ölçülü Zeytiyağlı Taze Fasulye Tarifi </h3>
                <p>Tam Ölçülü Zeytinyağlı Taze Fasulye Tarifi İçin Malzemeler 1 kg taze fasulye, 3 adet orta..  </p>         
                     <a class="btn btn-primary" href="#">Devamı için Tıklayınız</i></a>
            </div>
        </div>
        <!-- /.row -->
        <hr>
        <!-- Pagination -->
        <!-- /.row -->
        <hr>
        <!-- Footer -->

    </div>
    <!-- /.container -->
    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
</body>
</html>




