﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - HHarika Lezzetler</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script language="javascript" src="http://is.sitekodlari.com/saat0.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               

                @Html.ActionLink("Mutfağımdan Lezzetler", "Index", "Home", new { area = " " }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" >
                   <li>@Html.ActionLink("Anasayfa", "Index", "Home")</li>
                 
           
                    <li class="dropdown">
                        <a class="dropdown-toggle" role="button" aria-expanded="false" href="#" data-toggle="dropdown">Yemek Tarifleri <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                           
                            <li>@Html.ActionLink( "Anayemekler", "AnaYemekler", "Home", null, new { id = "item 1" })</li>
                            <li>@Html.ActionLink("Sebze Yemekleri","SebzeYemekleri", "Home", null, new { id = "item 2" })</li>
                            <li>@Html.ActionLink("Et Tavuk Yemekleri", "ettavukYemekleri", "Home", null, new { id = "item 3" })</li>
                            <li>@Html.ActionLink("Zeytinyağlılar","zeytinyaglilar", "Home", null, new { id = "item 3" })</li>
                            <li>@Html.ActionLink("Pilav Tarifleri","pilavtarifleri", "Home", null, new { id = "item 3" })</li>
                            
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" role="button" aria-expanded="false" href="#" data-toggle="dropdown">Tatlı Tarifleri <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            
                            @*<li>@Html.ActionLink("sutlutatlilar" ,"Sütlü Tatlılar", "Sutlutatlilar", "Home", null, new { id = "item 1" })</li>*@
                            <li>@Html.ActionLink("Şerbetli Tatlılar", "SerbetliTatlilar", "Home", null, new { id = "item 2" })</li>

                        </ul>
                    <li>@Html.ActionLink("Tarif Gönder", "tarifgonder", "Home")</li>
                    <ul class="nav navbar-nav navbar-right">
                        @if (Session["email"] == null)
                        {
                        <li type="button" class="btn btn-primary btn-sm üyegrs"> <span class="glyphicon glyphicon-user"><a style="color:white;" href="/Home/giris">Gİris yap</a></span></li>
                        <li type="button" class="btn btn-success btn-sm uyeol"> <span class="glyphicon glyphicon-log-in"><a style="color:white;" href="/Home/kaydol">Uye OL</a></span></li>
                        }
                        else
                        {
                            <li type="button" class="btn btn-danger btn-sm uyeol"> <span class="glyphicon glyphicon-log-in"><a style="color:white;" href="/Home/cikis">cikis</a></span></li>
                        }
                     </ul>

                        
            </ul>
                
                   
                   
                <script language="javascript" src="http://is.sitekodlari.com/paylas6.js"></script>
                                  
                <div class="nav navbar-nav navbar-right">
                    <div class="btn-group">
                        <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            TR <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#" class="glyphicon glyphicon-flag">EN</a></li>
                        </ul>
                    </div>
                    <div class="nav navbar-nav">
                        <form class="navbar-form">
                            <div class="form-group">
                             
                            
                            </div>
                        </form>
                    </div>
                </div>
             
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <!-- Sayaclar.com Code Start  -->
        <div align="center">
            <script language="Javascript" src="http://sa.sayaclar.com/c/s3.php?a=0s71q87&s=2a2"></script><br />Toplam Ziyaretçi
        </div>
        <!-- Sayaclar.com Code End -->

        <script language="javascript" src="http://is.sitekodlari.com/yukaricik1.js"></script>
    </div>

        <footer>
            <p>&copy; @DateTime.Now.Year - Lezzetli Tatlar</p>
        </footer>
   

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
 
</body>
</html>
