﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Çıkış", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Çıkış</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">

        <li type="button" class="btn btn-primary btn-sm üyegrs"> <span class="glyphicon glyphicon-user">@Html.ActionLink("ÜYE GİRİŞİ", "Login", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" } )</span></li>
        <li type="button" class="btn btn-success btn-sm uyeol"> <span class="glyphicon glyphicon-log-in">@Html.ActionLink("ÜYE OL", "Register", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</span></li>
    </ul>
}
