﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="WebForm1.aspx.cs" Inherits="yemektarifi.Views.Shared.WebForm1" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    Ad&nbsp; &amp; Soyad: &nbsp
        <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>
        <br />
        email:
   <asp:TextBox ID="TextBox2" runat="server"></asp:TextBox>
        <br />
        <asp:Button ID="Button1"  runat="server" Text="Button"onClick="Button1_Click" />
        <br/>
        <asp:Label ID="Label1" runat="server" Text="Label"></asp:Label>
        <br />
        <asp:Label ID="Label2" runat="server" Text="Label"></asp:Label>
         <br />
       <asp:Label ID="Label3" runat="server" Text="Label"></asp:Label>

    </div>

    </form>
</body>
</html>
